body{
    padding: 0;
    margin:0;
    font-family: sans-serif;
}
#header{
    position: fixed;
    top:0px;
    left:0;
    z-index: 500;
    width:100%;
    height:80px;
    background-image: url(images/wood.png);
    background-repeat: repeat-x;
}
#header img{
    display: block;
    margin: auto;
    height: 70%;
    padding-top:15px;
}
/*===top-tab===*/
#top-tab{
    position: fixed;
    top: 80px;
    left:0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color:darkolivegreen;
}
#top-tab a{
    float:left;
    display:block;
    width:27%;
    height:35px;
    font-weight:700;
    color:orange;
    text-align: center;
    text-decoration: none;
    padding: 12px;
}
#map{
    margin-top: 110px;
}
#footer{
    position:fixed;
    bottom:0px;
    left: 0;
    z-index: 500px;
    width: 100%;
    height:55px;
    background-color: darkolivegreen;

}
#footer a{
    float:left;
    display: block;
    width:120px;
    height: 50px;
    font-weight: 700;
    color:orange;
    text-align:inherit;
    text-decoration: none;
}

#main{
    margin-top:120px; 
    background: url('images/blur-map.jpg');
    background-repeat: repeat-y;
}
#content{
    padding-top:2px;
    padding-bottom:30px;
}
a.info-box{
      text-decoration : none;
      background      : rgba(255,255,255,.8);
      width           : 90%;
      height          : 90px;
      display         : block;
      margin          : auto;
      margin-top      : 12px;
      padding         : 1px;
      margin-bottom   : 30px;
      padding-bottom  : 2px; 
}
.info-box img{
      height : 70px;
      margin : 10px;
      float  : left;
}

.info-box h3{
      padding : 0;
      margin-bottom :0;
      width : 90%;
      color :orange;
}

.info-box p{
      margin  : 0;
      padding : 0;
      width   : 90%;
      color   : #131313;
}

.info-box img.right{
      float      : right;
      margin-top : 25px;
      height     : 40px;
}
#info-box-final{
      background-color : rgba(255, 255, 255, .8) ;
      width   : 90%;
      display : block;
      margin  : auto;
      margin-top : 12px;
      padding    : 10px;
}



#info-box-final img{
      width : 100%;
}



#info-box-final h3{
      text-align : center;
}

img.info-box-weather-icon{
     height : 30px;
     width  : 30px!important;
     margin : 10px;
     float  :left; 
}

h1.info-box-weather-icon{
     font-size  : 70px;
     font-weight: 300;
     padding    : 10px;
     margin     : 0;
}
table{
    width:100%;
}
input{
      width: 100%;
      height: 25px;
      margin : 12px 0;
      border : 1px solid #929292;
}

textarea{
      width: 100%;
      height :25px;
      margin : 12px 0;
      border : 1px solid #929292;
}

.button{
      display : block;
      background-color: forestgreen;
      text-decoration : none;
      text-align  : center;
      color       : white;
      font-size   : 16px;
      font-weight : 600;
      margin : 12px 0;
      padding : 8px 0;
}